[submodule "simulation_interfaces"]
	path = simulation_interfaces
	url = https://github.com/ros-simulation/simulation_interfaces.git
[submodule "topic_based_ros2_control"]
	path = topic_based_ros2_control
	url = https://github.com/PickNikRobotics/topic_based_ros2_control.git
